* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --baseColor: #ffbf76;

  --backgroundPrimary: #121212;
  --backgroundSecondary: #1d1d1d;

  --textPrimary: #ebebeb;
  --textSecondary: #adadad;
}
::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--baseColor);
}
::-webkit-scrollbar-thumb {
  background-color: var(--baseColor);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--textSecondary);
} */
